NODE_ENV=development
HOST=0.0.0.0
PORT=3000

LOG_LEVEL=info
LOG_PRETTY=true

# DATABASE_URL=postgresql://postgres:postgres@localhost:5433/baggage?schema=public
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.mnlwhaqimpkuwycouyum:tcEjQXPgQsIf8hx4@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.mnlwhaqimpkuwycouyum:tcEjQXPgQsIf8hx4@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

JWT_ACCESS_SECRET=change_me_access_secret_at_least_16_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_at_least_16_chars
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=2592000

ADMIN_API_KEY=change_me_admin_api_key_16_chars_min
